$custom: #fbefdf;

$dropdown-checklist-border-color: var(--bs-gray-400);

// Brand colors: SBReader in green + white
$logo-prefix-color: #28a745; // green
$logo-suffix-color: #ffffff; // white

$link-color: #003399;

$slider-background: #dee2e6; // gray-300

$user-score-background: #FFF9C4;
